.add-admin-wrap{
    margin:2rem 8rem;
    display: flex;
    flex-direction: column;
    
    gap : 2rem ;
}
.admin-input-div{
    display: flex;
    justify-content: space-between;
    width: 40rem ;
}
input{
    width:360px;
    height: 1.8rem;
    border: none;
    border-radius: 6px;
    padding: 0.5rem 0.8rem;
    box-shadow: 0 5px 5px rgba(1, 26, 54, 0.176);
    outline: solid;
    outline-color: rgba(53,109,253,1);
        
}
#addadmin{
    
    background-color: rgba(53,109,253,1);
    border-radius: 6px;
    border: none;
    color:white;
    width: 100px;
    height: 2rem;
    box-sizing: content-box;
}