h3{
  font-size: 24px;
  margin:.8rem 8rem;  
}
#book-wrap{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 8rem;
}
#UsRv{
  border: 2px solid rgb(53, 110, 253);
  border-radius: 10px;
  margin-top:1rem ;
  padding: 1rem;
}
#UsRv:focus{
  border: 2px solid rgb(53, 110, 253);
  outline: 2px solid rgba(53, 110, 253, 0.437);
}
.bookCoverPage{   
  max-width: 200px;
  max-height: 280px;
    border-radius: 16px;
    box-shadow: 2px  4px 8px rgba(0,0,0,.08);
    border: 2px solid white ;
}
.BookDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
input[type="checkbox"]:checked + label::before {
    content: "\2713";
    font-size: 16px;
    color: rgba(53,109,253,1);;
  }
input[type="submit"]{
    background-color: rgba(53,109,253,1);
    border-radius: 6px;
    border: none;
    color:white;
    width: 100%;
    box-sizing: content-box;
    padding: .4rem 1rem ;
}
#submitRv{
  background-color: rgba(53,109,253,1);
    border-radius: 6px;
    border: none;
    color:white;
    box-sizing: content-box;
    padding: .4rem .8rem ;
}
.container input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .container {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  
  svg {
    position: relative;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: all 0.3s;
    fill: #666;
  }
  
  svg:hover {
    transform: scale(1.1) rotate(-10deg);
  }
  
  .container input:checked ~ svg {
    fill: rgba(53,109,253,1);
  }
  #book-suggestions{
    display: grid;
    grid-template-columns: 48% 48%;
    padding: 2rem 8rem;
    justify-content: space-around;
    row-gap: 4rem;
    margin-bottom: 2rem;
  }
  details{
    padding: 1rem 8rem;
    
  }
  summary{
    font-size: 24px;
  }
  #BookReviews{
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 48% 48%;
    gap:2rem; 
  }
  .UserName{
    color: black;
  }
  .BookReviewBody > div:first-child{
    color: #a6a6a6;
  }
  .BookReviewBody > div:nth-child(2){
    color: #a6a6a6; 
    display: flex;
    align-items: center;
  }
  .UserReview{
    display: inline-block;
    width: 60%;
    padding-top: .3rem ;
    padding-left: .3rem;
    padding-bottom: .3rem;
    color: black;
  }
  .BookReviewBody{
    background-color: #ffffffa5;
    padding: 2rem;
    border-radius: 10px ;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08) ;
    display: flex;
    flex-direction: column;
    gap :1rem;
    border: 2px solid white;
    background-image: url('data:image/svg+xml,<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 590" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="%23abb8c3"></stop><stop offset="95%" stop-color="%238ED1FC"></stop></linearGradient></defs><path d="M 0,600 C 0,600 0,200 0,200 C 54.247790868924895,224.64414580265094 108.49558173784979,249.28829160530188 177,265 C 245.5044182621502,280.7117083946981 328.2654639175257,287.4909793814433 384,267 C 439.7345360824743,246.5090206185567 468.4425625920471,198.74779086892488 516,163 C 563.5574374079529,127.25220913107512 629.9642857142858,103.51785714285714 700,126 C 770.0357142857142,148.48214285714286 843.7002945508099,217.18078055964656 914,251 C 984.2997054491901,284.81921944035344 1051.2345360824743,283.7590206185567 1113,266 C 1174.7654639175257,248.2409793814433 1231.361561119293,213.78313696612668 1285,200 C 1338.638438880707,186.21686303387332 1389.3192194403537,193.10843151693666 1440,200 C 1440,200 1440,600 1440,600 Z" stroke="none" stroke-width="0" fill="url(%23gradient)" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-0"></path><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="%23abb8c3"></stop><stop offset="95%" stop-color="%238ED1FC"></stop></linearGradient></defs><path d="M 0,600 C 0,600 0,400 0,400 C 41.78645066273933,376.2089469808542 83.57290132547865,352.41789396170844 150,363 C 216.42709867452135,373.58210603829156 307.49484536082474,418.53737113402053 377,446 C 446.50515463917526,473.46262886597947 494.44771723122244,483.43262150220914 557,459 C 619.5522827687776,434.56737849779086 696.7142857142858,375.73214285714283 746,347 C 795.2857142857142,318.26785714285717 816.6951399116347,319.6388070692194 875,345 C 933.3048600883653,370.3611929307806 1028.5051546391753,419.7126288659794 1099,413 C 1169.4948453608247,406.2873711340206 1215.2842415316643,343.51067746686306 1268,332 C 1320.7157584683357,320.48932253313694 1380.3578792341677,360.24466126656847 1440,400 C 1440,400 1440,600 1440,600 Z" stroke="none" stroke-width="0" fill="url(%23gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-1"></path></svg>');
    background-repeat: no-repeat;
    background-position-y: 60px ;
    object-fit: cover !important;
    background-size: cover;

  }
  #BtnDiv{
    display: flex;
    gap:1.6rem;

  }

  #EditRvw ,#UpdateRvw,#deletervw{
    background-color: rgba(53,109,253,1);
    border-radius: 6px;
    border: none;
    color:white;
    box-sizing: content-box;
    padding: .4rem .8rem ;
    pointer-events: all;
  }
  .bookHolder{
    display: grid;
    grid-template-columns: 40% 40%;
    
  }
  .bookHolder-Suggested{
    display: flex;
    gap :2rem;
    padding: 1rem 2rem;
    height: 100% !important;
    border-radius:16px ;
    box-shadow: 2px  4px 12px rgba(0,0,0,.08);
    background-image: url('data:image/svg+xml,<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 590" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="%23F78DA7"></stop><stop offset="95%" stop-color="%238ED1FC"></stop></linearGradient></defs><path d="M 0,600 C 0,600 0,200 0,200 C 64.47846889952149,192.86124401913875 128.95693779904298,185.7224880382775 234,206 C 339.043062200957,226.2775119617225 484.6507177033494,273.97129186602876 583,252 C 681.3492822966506,230.02870813397126 732.4401913875597,138.39234449760764 814,132 C 895.5598086124403,125.60765550239236 1007.5885167464116,204.45933014354068 1117,230 C 1226.4114832535884,255.54066985645932 1333.2057416267942,227.77033492822966 1440,200 C 1440,200 1440,600 1440,600 Z" stroke="none" stroke-width="0" fill="url(%23gradient)" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-0"></path><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="%23F78DA7"></stop><stop offset="95%" stop-color="%238ED1FC"></stop></linearGradient></defs><path d="M 0,600 C 0,600 0,400 0,400 C 98.9377990430622,425.03349282296654 197.8755980861244,450.066985645933 284,457 C 370.1244019138756,463.933014354067 443.4354066985645,452.7655502392344 545,445 C 646.5645933014355,437.2344497607656 776.3827751196171,432.8708133971292 890,413 C 1003.6172248803829,393.1291866028708 1101.0334928229665,357.7511961722488 1190,353 C 1278.9665071770335,348.2488038277512 1359.4832535885166,374.1244019138756 1440,400 C 1440,400 1440,600 1440,600 Z" stroke="none" stroke-width="0" fill="url(%23gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-1"></path></svg>');    background-repeat: no-repeat;
    background-position-y:  100px;
    background-color: #fff;
    border: 2px solid white;
    align-items: center;
  }
  .BookImg{
    width: 320px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" id="SvgjsSvg1230" x="0" y="0" version="1.1" viewBox="0 0 487.272 487.272" width="200" height="200" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs"><path d="M468.018 196.707 289.885 18.573c-26.341-23.625-66.246-23.625-92.587 0L19.165 196.493c-25.554 25.573-25.554 67.014 0 92.587L197.298 467a63.997 63.997 0 0 0 46.293 19.413 64 64 0 0 0 46.293-18.987l178.133-178.133.267-.267c25.421-25.567 25.302-66.9-.266-92.319z" fill="rgba(232, 249, 255, 1)"></path></svg>');
  }
  .bookHolder-Suggested  .bookImgCP{
    max-width: 200px;
    max-height: 280px;
    object-fit: cover;
    
  }
  .BookCheckout{
    display: flex;
    flex-direction: column;
    gap:1rem;
  }
  .bookImg .bookImgCP{
    object-fit: cover;
    border-radius: 10px;
  }
  .bookHolder-Suggested .bookDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #addtocart,#editbook{
    background-color: rgba(53,109,253,1);
    border-radius: 6px;
    border: none;
    color:white;
    width: 100%;
    box-sizing: content-box;
    padding: .4rem 1rem ;
  }
  #cartstatus{
    padding: 1rem 8rem ;
  }

 #likebtn{
  background-color: transparent;
  border: none;
  

 }
 .likediv{
  font-size: 20px;
  display: flex;
  align-items: center;
 }
 #likecnt{
  font-size: 20px;
  color: rgba(53,109,253,1) ;
 }
 #like{
  font-size: 28px;
  color: rgba(53,109,253,1) ;
 }
 .bookoutofstock{
  background-color: rgba(0, 23, 80, 0.801) !important;
 }
 .bookImgCPS{
  box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    width: 140px;
    height: 196px;
    border-radius:12px ;
    object-fit: cover !important;
 }
 .bookCritics{
    
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: start ;
  
}
.bookName{
  font-size: 24px;
}
.bookAuthor{
  color: rgb(0, 50, 91) ;
}
.bookD,.bookDName{
 color: rgb(13, 13, 13) ;
}
.bookDetails{
  width: 75% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  height: 196px;

}
.reviewEntryOutline{
  /* border: ; */
  border-radius: 4px;
  border:2px solid rgb(53, 110, 253) ;
  
}
.reviewEntryOutline:focus{
  outline: 2px solid rgba(53, 110, 253, 0.412);
  
}
#BookReviewEntry
{
  display: flex;
  flex-direction: column;
  gap : 1rem;
  
}
