.bookHolder{
    display: flex;
    gap :2rem;
    padding: 1rem 2rem;
    height: 100% !important;
    border-radius:16px ;
    box-shadow: 2px  0px 12px rgba(0,0,0,.134);
    background-image: url('data:image/svg+xml,<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 590" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="%23F78DA7"></stop><stop offset="95%" stop-color="%238ED1FC"></stop></linearGradient></defs><path d="M 0,600 C 0,600 0,200 0,200 C 64.47846889952149,192.86124401913875 128.95693779904298,185.7224880382775 234,206 C 339.043062200957,226.2775119617225 484.6507177033494,273.97129186602876 583,252 C 681.3492822966506,230.02870813397126 732.4401913875597,138.39234449760764 814,132 C 895.5598086124403,125.60765550239236 1007.5885167464116,204.45933014354068 1117,230 C 1226.4114832535884,255.54066985645932 1333.2057416267942,227.77033492822966 1440,200 C 1440,200 1440,600 1440,600 Z" stroke="none" stroke-width="0" fill="url(%23gradient)" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-0"></path><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="%23F78DA7"></stop><stop offset="95%" stop-color="%238ED1FC"></stop></linearGradient></defs><path d="M 0,600 C 0,600 0,400 0,400 C 98.9377990430622,425.03349282296654 197.8755980861244,450.066985645933 284,457 C 370.1244019138756,463.933014354067 443.4354066985645,452.7655502392344 545,445 C 646.5645933014355,437.2344497607656 776.3827751196171,432.8708133971292 890,413 C 1003.6172248803829,393.1291866028708 1101.0334928229665,357.7511961722488 1190,353 C 1278.9665071770335,348.2488038277512 1359.4832535885166,374.1244019138756 1440,400 C 1440,400 1440,600 1440,600 Z" stroke="none" stroke-width="0" fill="url(%23gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-1"></path></svg>');    background-repeat: no-repeat;
    background-position-y:  80px;
    background-color: #fff;
    background-size: cover;
    border: 2px solid white;
    align-items: center;
}

button{
    background-color: rgba(53,109,253,1);
    border-radius: 6px;
    border: none;
    color:white;
    padding: .6rem .8rem;

}
.bookDetails{
    height: 196px;  
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.bookName{
    font-size: 1.6rem;
}
#cart-bookswrap{
    padding: 2rem 8rem 4rem;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    row-gap: 4rem;
}
.bookImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 196px;
    border-radius:12px ;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.248);
}
.bookImgCP{
    
    width: 140px;
    height: 196px;
    border-radius:12px ;
    object-fit: cover !important;
    border: 1px solid white;
    
}
#CheckoutCart{
    padding: 1rem 8rem;
    display: flex;
    justify-content: end;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1000 !important; 
    padding-top: 2rem;
    top: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
.modalcontent{
    
    background-color: white;
    padding: 2rem;
    width: 80%;
    margin: 0 auto;  
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap :2rem;

}
.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-self: self-end;
    pointer-events: all;
  }
  .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.ModalBookWrap{
   display: grid;
   grid-template-columns: 30% 30% 30%;
   justify-content: space-around;
   gap :1rem;
}
.ModalBookHolder{
    display: flex;
    gap :20px;
}
.ModalBookImgHolder,.ModalBookImg{
    max-width: 100px;
    max-height: 140px;
    border-radius: 4px;
}
.ModalBookDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ModalUserWrap{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.ModalConfirmHolder{
    align-self: self-end;
    pointer-events: all;
}
.rmBookbtn ,#CheckoutBtn{
    pointer-events: all;
}