.profile-wrap
{
    box-sizing: border-box;
    padding: 8rem 8rem 4rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
    font-size: 2rem !important;
    

}
button{
    background-color: rgba(53,109,253,1);
    border-radius: 6px;
    border: none;
    color:white;
    
    padding: .4rem .6rem;
    box-sizing: content-box;
}
h3{
    padding: 1rem 8rem;
    font-weight: 700;
    font-size: 20px;
}
#issuedbooks{
    display: grid;
    padding: 1rem 8rem;
    gap: 20px;
    justify-content: space-between;
    grid-template-columns: 45% 45% ;
}
.bookholder{
    display: flex;
    gap: 20px;
}
.bookDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bookDesc{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
}
.bookImg{
    max-width: 200px ;
    max-height: 280px;
    border-radius: 8px;

}
.request-wrap{
    display: flex;
    flex-direction: column;
    padding: 2rem 8rem;
    
}
.userReq{
    display: flex;

    gap : 30px;
    justify-content: space-between;
}
.ReqHead{
    font-size: 20px;
    margin: 1rem 0rem;
}
.userReq-Container{
    display: flex;
    justify-content: space-between;
    width: 25rem ;
    align-items: center;
}
#RequestedBooks{
    padding: 2rem 0;
}
#HeadReqBook{
    display: flex;
    justify-content: space-between;
    width:50rem;
    padding: 1rem 0rem;
}
.rowReqBook{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 33% 33% 33%;
    
}