

body{
    background-color: rgba(242,245,255,1);

}
h1{
    font-size: 3.75rem;
    margin-top: 5rem;
    margin-bottom: .8rem;
    font-weight: 900;
    
}   
h3{
    font-size: 1.6rem;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    gap :20px;
    align-items: center;
}
form{
    display: flex;
    flex-direction:column ;
}
.signup{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(238, 244, 252); */
    border: rgba(197, 211, 245, 0.464) solid 2px;
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(1, 26, 54, 0.133);
    
}
input{
    width:360px;
    height: 1.8rem;
    border: none;
    border-radius: 8px;
    margin :0.5rem 0rem 1rem;
    padding: 0.5rem 0.8rem;
    box-shadow: 0 5px 5px rgba(1, 26, 54, 0.176);
        
}
button{
    background-color: rgba(53,109,253,1);
    border-radius: 6px;
    border: none;
    color:white; 
    box-sizing: content-box;
    height: 1.8rem;
    padding: 0.5rem 0.8rem;
    
}
.active-btn{
    background-color: rgba(53,109,253,1) !important;
}
input[type="text"],[type="email"],[type="password"]:focus{

    outline-color: rgba(53,109,253,1);

}
a{
    color: rgba(53,109,253,1);
    text-decoration: none;
}

.error{
    outline-color: rgb(229, 41, 41) !important;
}
#email:invalid{
    outline-color: rgb(229, 41, 41) !important;
}