*{
    margin:0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    
}
.lightBg{
    background-color: rgba(242,245,255,1);
}
label{
    font-weight: 600 ;
}
.heading_grad{
    
        
        background: linear-gradient(90deg,#35a9fd 0,#004ca6 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
}
a{
    text-decoration: none;
}
.headingDark{
    color: #001b3b;
}
.heading-large{
    font-size: 4.5rem;
    line-height: 1.6;
    font-weight: 700;
}
.heading-medium{
    font-size: 2.25rem;
    line-height: 1;
    font-weight: 600;
}
.hide-data{
    display: none;
}
.text-center{
    text-align: center;
}
.footer{
    background-color: rgba(17,24,39,1);
    padding : 2rem 8rem;
    justify-content: space-between;
    align-items: center;
}
.heading-light{
    color:white;    
}
.footer-items{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
}
::-webkit-scrollbar {
    display: none;
}