*{
    margin:0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.gradLine{
    height: 1px;
    background-image: linear-gradient(90deg, rgba(9,9,121,0) 15%, rgba(53,109,253,1) 50%, rgba(0,212,255,0) 85%);
}
.lightBg{
    background-color: rgba(242,245,255,1);
}
label{
    font-weight: 600 ;
}
.heading_grad{
    
        
        background: linear-gradient(90deg,#35a9fd 0,#004ca6 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
}
a{
    text-decoration: none;
}
.headingDark{
    color: #001b3b;
}
.heading-large{
    font-size: 4.5rem;
    line-height: 1.6;
    font-weight: 700;
}
.heading-medium{
    font-size: 2.25rem;
    line-height: 1;
    font-weight: 600;
}
.hide-data{
    display: none;
}
.text-center{
    text-align: center;
}
.footer{
    
    display: flex;
    background: rgb(0,189,255);
    background: radial-gradient(circle, rgba(0, 187, 255, 0.4) 0%, rgba(9,9,121,0) 70%);
    background-position-y:500px ;
    
     /* background-image: url('/img/1600-n.png'); */
    background-color: rgb(7, 15, 32);
    padding : 2rem 8rem;
    align-items: center;
    justify-content: space-between;
    width:calc(100vw - 16rem) !important;
    height: 5rem;
    left: 0;
        bottom: 0;

    
}
.heading-light{
    color:white;    
}
.footer-items{
    display: flex;

    justify-content: space-around;
    gap: 10px;
    align-items: center;
}
::-webkit-scrollbar {
    display: none;
}